/* Root variables for easier color and style customization */
:root {
  --text-color: rgb(255, 255, 255);
  --highlight-color: rgba(0, 0, 0, 0.47);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Ensures border and padding do not affect element width/height */
}

/* 1rem = 16px */
body {
  color: var(--text-color);
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem; /* fallback size */
  font-size: clamp(1.5rem, 1.2rem + 1.5vw, 3rem); /* 1.5rem = 24px, 3rem = 48px*/
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

/* Container for Flexbox panels */
.panels {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

/* Individual panels */
.panel {
  flex: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  transition: 
    font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    background-image 0.2s;
  overflow: hidden;
}

/* Text transitions within each panel */
.panel > * {
  transition: transform 0.2s ease-in-out;
}

/* Initially move the first and last child elements off-screen. When the panel is active, bring them back into view */
.panel > *:first-child { transform: translateY(-1300%); }
.panel.open-active > *:first-child { transform: translateY(0); }
.panel > *:last-child { transform: translateY(1300%); }
.panel.open-active > *:last-child { transform: translateY(0); }

/* Background images and positions for each panel */
.panel--1 { background-image: url('images/doubt.jpg'); background-position: 50% 35%; }
.panel--2 { background-image: url('images/pride.jpg'); background-position: 50% 50%; }
.panel--3 { background-image: url('images/fear.jpg'); background-position: 50% 54%; }
.panel--4 { background-image: url('images/thinking.jpg'); background-position: 50% 50%; }
.panel--5 { background-image: url('images/dream.jpg'); background-position: 50% 50%; }

/* Text highlighting */
.panel__text--highlight {
  background-color: var(--highlight-color);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

/* Adjust font size for the panel when it's open */
.panel.open {
  font-size: 3rem; /* fallback size */
  font-size: clamp(3rem, 2.7rem + 1.5vw, 4.5rem); /* 3rem = 48px, 4.5rem = 72px */
}

/* Media queries */
@media (min-width: 1100px) {
  .panel {
    flex: 1;
    background-position: center;
  }

  .panel.open {
    flex: 4;
  }
}